<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Dog or Cat Pciture</title>
    </head>
    <body>
        <h1>강아지 또는 고양이를 선택하세요.</h1>
        <form method="get">
            <button type="submit" name="animal" value="dog">Dog</button>
            <button type="submit" name="animal" value="cat">Cat</button>
        </form>
        
        {% if image_url %}
            <h2> {{ animal }}을(를) 고르셨습니다.</h2>
            <img src="{{ image_url }}" alt="{{ animal }}" style="max-width: 300px;">
        {% endif %}
    </body>
</html>