<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='add_style.css') }}">
    <title>HAEJOONG 게시판</title>
</head>
<body>
    <header>
        <h1>HAEJOONG 게시판</h1>
    </header>
    <form action="/add" method="post">
        <label for="title">제목</label>
        <input type="text" id="title" name="title">
        <label for="content">내용</label>
        <textarea id="content" name="content"></textarea>
        <button type="submit">작성</button>
    </form>
</body>
</html>
