<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>

    <!--CSS STYLE-->
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">    <!--초기화 용-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="wrap">
        <div id="top_wrap">top_wrap
        </div>
        <div id="side_wrap">side_wrap
            <div class="login">
            </div>
            <div id="sub_side_wrap">sub_side_wrap</div>
        </div>
        <div id="contents_wrap">
            <h1>아이디 찾기</h1>
            <form method="POST">
                <label for="name">이름:</label>
                <input type="text" id="name" name="name" required>
        
                <label for="birthday">생년월일 (YYYY-MM-DD):</label>
                <input type="date" id="birthday" name="birthday" required>

                <label for="user_id">ID 입력:</label>
                <input type="text" id="user_id" name="user_id" required>
        
                <button type="submit">패스워드 찾기</button>
            </form>
        </div>
        <div id="footer_wrap">footer_wrap</div>
    </div>
    
</body>
</html>