<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>

    <!--CSS STYLE-->
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">    <!--초기화 용-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="wrap">
        <div id="top_wrap">top_wrap
        </div>
        <div id="contents_wrap">
            <form method="POST" action="{{ url_for('login_page') }}">
                <label for="user_id">아이디</label>
                <input type="text" id="user_id" name="user_id" required>
                <br>
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">로그인</button>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        <div id="footer_wrap">footer_wrap</div>
    </div>
    
</body>
</html>