<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 예시</title>
    <link rel="stylesheet" href="css/test.css">
</head>
<body>

<div id="wrap">
    <div id="top_wrap">
        <p>Top</p>
    </div>

    <div id="side_wrap">
        <p>Side</p>
        <div class="login">
            <p>Login</p>
        </div>
        <div id="sub_side_wrap">
            <p>Side_wrap</p>
        </div>
    </div>

    <div id="contents_wrap">
        <p>Contents</p>
    </div>

    <div id="footer_wrap">
        <p>Footer</p>
    </div>
</div>

</body>
</html>
